package-lock.json
.clj-kondo/
.history
.hypothesis/
.lsp/
__pycache__
build/
reports/
scripts/
scripts/sendfunds.py
node_modules
node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
